<div class="container" style="margin:10%">
  <div class="row">
    <div class="col-sm-12">
      <input type="text" [(ngModel)]="filteredStatus">
      <br>
      <button class="btn btn-primary" (click)="onAddServer() ">Add server</button>
      <hr>
      
      <h2> App Status: {{appStatus | async}}</h2>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let d of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(d)">
          <strong>{{d.name | short:5}}</strong>|
          {{d.instanceType | uppercase}} |
          {{d.started | date:'fullDate' |uppercase}}
          <span class="badge">{{d.status}}</span>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>